<div>
  <h3>Top 3 Most Profitable Products</h3>
  <div *ngIf="topProfitableProducts.length > 0; else noData">
    <ul>
      <li *ngFor="let product of topProfitableProducts">
        <strong>{{ product.name }}</strong>: {{ product.description }})
<!--        (Quantity: {{ product.quantity }}, Retail Price: ${{ product.retailPrice }}, Wholesale Price: ${{ product.wholesalePrice }})-->
      </li>
    </ul>
  </div>
  <ng-template #noData>
    <p>No data available.</p>
  </ng-template>
  <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
</div>
